// This is where you can import other stylesheets or write your scss code
//@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  display: flex;
  height: 100vh;
  width: 100%;
}

div {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

// variables lists and maps
$variablename: value;
$pixel: 20px;
$percentage: 100%;

$primary: purple;

$primary: red !default;

$list: item1, item2, item3, item4; // this is a list
$listOfColors: red, green, blue, yellow; // this is a list

$map: (
  sm: 456px,
  md: 768px,
  lg: 1024px,
); // this is a map

$fontSizes: (
  s: 0.8em,
  m: 1em,
  l: 1.5em,
  xl: 2em,
);

@each $color in $listOfColors {
  .text-#{$color} {
    color: $color;
  }
}

@each $name, $value in $fontSizes {
  .text-#{$name} {
    font-size: $value;
  }
}

$bp: (
  sm: 456px,
  md: 768px,
  lg: 1024px,
);

@each $bpkey, $bpvalue in $bp {
  @media screen and (min-width: #{$bpvalue}) {

    @each $fskey, $fsvalue in $fontSizes {
      .text-#{$bpkey}-#{$fskey} {
        font-size: $fsvalue;
      }
    }

  }
}
