@import "./cards";

body {
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    



    @media screen and (min-width: $bp-desktop) {
        flex-direction: row;
        //Card-height + 2em to have space for the gradient cards below the color card
        row-gap: $card-height + 2em;
    }
}