.Dogs > .avatars {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.Dogs > .avatars > * {
    width: 20em;
}

.Dogs > .avatars .greyedOut img{
    opacity: 0.3;
}

.Dogs > .details {
    display: flex;
    justify-content: center;
}
