.Boat {
    width: 100px;
    height: 50px;
    background-color: brown;
    position: relative;
    animation-name: moving;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moving {
    from {
        left: -100px;
    }
    to {
        left: 100vw;
    }
}