.DogAvatar {
    text-align: center;
    width: 100%;
    height: 100%;
}

.DogAvatar > img {
    display: block;
    width: 100%;
    border: 4px solid #800080;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
}
