// This is where you can import other stylesheets or write your scss code
//@import "../../node_modules/bootstrap/scss/bootstrap";
@use "sass:list";
@use "sass:string";
@use "sass:color";
@use "sass:math";
@import "./abstract/variables";
@import "./layout/layout";

//Base 10 to Base 16 Conversion up to 255 (for the Hex value of the colors)
@function b10Tob16($number) {
  $rest: $number;
  $hex: undefined;

  $fit: math.floor($number / 16);
  $rest: $number % 16;
  @if $fit < 10 {
    $hex: string.quote(#{$fit});
  }
  @if $fit == 10 {
    $hex: string.quote(A);
  }
  @if $fit == 11 {
    $hex: string.quote(B);
  }
  @if $fit == 12 {
    $hex: string.quote(C);
  }
  @if $fit == 13 {
    $hex: string.quote(D);
  }
  @if $fit == 14 {
    $hex: string.quote(E);
  }
  @if $fit == 15 {
    $hex: string.quote(F);
  }

  @if $rest < 10 {
    $hex: $hex + string.quote(#{$rest});
  }
  @if $rest == 10 {
    $hex: $hex + string.quote(A);
  }
  @if $rest == 11 {
    $hex: $hex + string.quote(B);
  }
  @if $rest == 12 {
    $hex: $hex + string.quote(C);
  }
  @if $rest == 13 {
    $hex: $hex + string.quote(D);
  }
  @if $rest == 14 {
    $hex: $hex + string.quote(E);
  }
  @if $rest == 15 {
    $hex: $hex + string.quote(F);
  }
  @return $hex;
}

//Go through all colors specified
@for $i from 1 through list.length($colors) {

  //Select the ith-colorCard and apply the background color 
  .colorCard:nth-child(#{$i}) {

    //ColorCards are display: none by default
    display: block;
    background-color: list.nth($colors, $i);

    //Set the content of the after Element to display the Color Name and Hex Value
    &::after {
      content: string.quote(
        "Color: " +
          #{list.nth($colors, $i)} +
          "\A Hex-Code: #"+
          b10Tob16(color.red(list.nth($colors, $i))) +
          b10Tob16(color.green(list.nth($colors, $i))) +
          b10Tob16(color.blue(list.nth($colors, $i)))
      );
      white-space: pre-wrap;
    }

    //Add darker and lighter versions of the color to the corresponding gradient card.
    //On the desktop Version those cards will be shown below the colorCard, on mobile they will be shown when touched/hovered.
    .gradients {
      &::before {
        background-color: darken(list.nth($colors, $i), 10%);
      }

      &::after {
        background-color: lighten(list.nth($colors, $i), 10%);
      }
    }
  }
}
